<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Poster</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #343a40;
            color: #fff;
        }
        .poster-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            margin-top: 20px;
        }
        .poster-card {
            width: 200px;
            text-align: center;
        }
        .poster-card img {
            width: 100%;
            border-radius: 8px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="my-4 text-center">Select a Poster for "{{ movie_title }}"</h1>
    <div class="poster-container">
        {% for poster in posters %}
            <div class="poster-card">
                <img src="{{ poster.url }}" alt="Poster for {{ movie_title }}">
                <p class="mt-2 text-center"><strong>Resolution:</strong> {{ poster.resolution }}</p> <!-- Display the resolution -->
                <form action="{{ url_for('select_poster') }}" method="POST">
                    <!-- Hidden input to store the selected poster's URL -->
                    <input type="hidden" name="poster_path" value="{{ poster.url }}">
                    <!-- Hidden input to store the movie title -->
                    <input type="hidden" name="media_title" value="{{ movie_title }}">
                    <!-- Hidden input to specify if it's a movie or a TV show -->
                    <input type="hidden" name="media_type" value="{{ media_type }}">
                    <!-- Button to submit the form and select the poster -->
                    <button type="submit" class="btn btn-primary btn-block mt-2">Select Poster</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>